.Nav {
  position: fixed;
  width: 100%;
  padding: 50px 0 20px;
  transition: all 0.3s ease;
  z-index: 1;
}

.nav__black {
  background-color: #141414;
  padding-top: 20px;
  /* NETFLIX RED: E50914 */
}

.nav__contents {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 40px;
  justify-content: space-between;
}
@media screen and (min-width: 700px) {
  .nav__contents {
    margin: 0 70px;
  }
}

.nav__logo,
.nav__avatar {
  cursor: pointer;
}

/* Only for login screen */
.nav__button {
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 1.3rem;
  padding: 0.5rem 1.7rem;
  border-radius: 3px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #e50914;
  transition: all 0.2s;
  color: #fff;
  cursor: pointer;
}

.nav__button:hover {
  background-color: #141414;
  transition: all 0.2s;
}
