::selection {
  color: #fff;
  background-color: #e50914;
}

@font-face {
  font-family: "Netflix Sans";
  src: local("Netflix Sans"),
    url("./fonts/NetflixSansMedium.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: local("Netflix Sans"),
    url("./fonts/NetflixSansBold.ttf") format("truetype");
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Netflix Sans", serif;
  font-weight: normal;
}

html {
  background-color: #141414;
  color: #fff;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
